.colorButton_button_225F2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  width: 1.45em;
  height: 1.45em;
  border-radius: .3em;
  margin: .02em;
  font-size: 2.1em;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: bold;
  cursor: pointer; }
  .colorButton_button_225F2:last-child {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    right: 0;
    top: 50%;
    -webkit-transform: translate(calc(100% + 0.2em), -50%);
            transform: translate(calc(100% + 0.2em), -50%);
    border: .07em solid; }
    .colorButton_button_225F2:last-child i {
      font-size: .7em;
      -webkit-transform: rotate(13deg);
              transform: rotate(13deg);
      transition: .33s; }
    .colorButton_button_225F2:last-child:after {
      position: absolute;
      display: inline-block;
      content: "";
      border-radius: 50%;
      width: 0.2em;
      height: 0.2em;
      left: 0;
      top: 50%;
      -webkit-transform: translate(calc(-100% - .07em), -50%);
              transform: translate(calc(-100% - .07em), -50%); }

.colorButton_button_225F2.colorButton_red_2-FE3 {
  color: #900107; }
  .colorButton_button_225F2.colorButton_red_2-FE3:before {
    border-color: #900107; }
  .colorButton_button_225F2.colorButton_red_2-FE3:after {
    background-color: #900107; }

.colorButton_button_225F2.colorButton_yellow_2v7zb {
  color: #dac006; }
  .colorButton_button_225F2.colorButton_yellow_2v7zb:before {
    border-color: #dac006; }
  .colorButton_button_225F2.colorButton_yellow_2v7zb:after {
    background-color: #dac006; }

.colorButton_button_225F2.colorButton_green_3AJiT {
  color: #026724; }
  .colorButton_button_225F2.colorButton_green_3AJiT:before {
    border-color: #026724; }
  .colorButton_button_225F2.colorButton_green_3AJiT:after {
    background-color: #026724; }

.colorButton_button_225F2.colorButton_blue_IjQsx {
  color: #013968; }
  .colorButton_button_225F2.colorButton_blue_IjQsx:before {
    border-color: #013968; }
  .colorButton_button_225F2.colorButton_blue_IjQsx:after {
    background-color: #013968; }

@-webkit-keyframes colorButton_cross_1uyY_ {
  from {
    width: 0; }
  to {
    width: 1.5em; } }

@keyframes colorButton_cross_1uyY_ {
  from {
    width: 0; }
  to {
    width: 1.5em; } }

.colorButton_button_225F2 {
  position: relative; }
  .colorButton_button_225F2.colorButton_disabled_rTW_Y, .colorButton_button_225F2.colorButton_selected_2jyp_ {
    cursor: not-allowed; }
  .colorButton_button_225F2.colorButton_disabled_rTW_Y {
    background: rgba(255, 255, 255, 0.5); }
  .colorButton_button_225F2.colorButton_selected_2jyp_ {
    background: rgba(255, 255, 255, 0.6); }
    .colorButton_button_225F2.colorButton_selected_2jyp_:not(:last-child):before, .colorButton_button_225F2.colorButton_selected_2jyp_:not(:last-child):after {
      content: "";
      display: inline-block;
      position: absolute;
      height: 3px;
      border-radius: 50%;
      background-color: darkblue;
      -webkit-animation: colorButton_cross_1uyY_ forwards;
              animation: colorButton_cross_1uyY_ forwards;
      -webkit-animation-duration: .1s;
              animation-duration: .1s; }
    .colorButton_button_225F2.colorButton_selected_2jyp_:not(:last-child):before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      left: 0;
      top: 50%; }
    .colorButton_button_225F2.colorButton_selected_2jyp_:not(:last-child):after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      left: 0;
      top: 50%;
      -webkit-animation-delay: .1s;
              animation-delay: .1s; }
    .colorButton_button_225F2.colorButton_selected_2jyp_:last-child i {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
.colorRow_colorRow_3j4cG {
  margin: .2em 0;
  padding: .3em 3.7em .3em 12px;
  position: relative; }
  .colorRow_colorRow_3j4cG:before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: -10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #d9d9d9;
    z-index: 100; }
  .colorRow_colorRow_3j4cG:after {
    position: absolute;
    display: block;
    content: "";
    top: calc(50% - 1px);
    -webkit-transform: translateY(calc(-50% + 1px));
            transform: translateY(calc(-50% + 1px));
    left: -10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 17px solid #2b2b2b;
    z-index: 100; }

.colorRow_red_2wks0 {
  background-color: #C3010A; }

.colorRow_yellow_-eaNj {
  background-color: #F9DD1A; }

.colorRow_green_3p1mD {
  background-color: #039935; }

.colorRow_blue_N85p6 {
  background-color: #01559B; }

.colorRow_buttonsWrapper_FGreK {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: .1em;
  border-radius: 0.5em; }
  .colorRow_red_2wks0 .colorRow_buttonsWrapper_FGreK {
    background-color: #900107; }
  .colorRow_yellow_-eaNj .colorRow_buttonsWrapper_FGreK {
    background-color: #dac006; }
  .colorRow_green_3p1mD .colorRow_buttonsWrapper_FGreK {
    background-color: #026724; }
  .colorRow_blue_N85p6 .colorRow_buttonsWrapper_FGreK {
    background-color: #013968; }
.qwixxForm_fields_FxMha {
  display: inline-block;
  padding: 10px 10px 0px 10px; }
.misthrows_misthrows_sHsDi {
  display: inline-block;
  text-align: center;
  margin-left: .5em; }

.misthrows_info_3KuQ- {
  margin-bottom: 0.2em; }

.misthrows_fields_1WQm4 {
  display: flex;
  flex-direction: row; }

.misthrows_misthrow_2Up4N {
  display: inline-block;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 0.4em;
  width: 1.2em;
  height: 1.5em;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.misthrows_x_aPlct {
  position: absolute;
  color: #3b00ff;
  font-size: 2em;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold; }
.scoring_scoring_efTaq {
  margin: .1em 1em .4em;
  display: flex;
  align-content: justify; }

.scoring_example_24Afd {
  font-weight: bold;
  margin-right: .5em;
  text-align: center;
  vertical-align: middle; }
  .scoring_example_24Afd .scoring_field_2erCj {
    display: inline-block;
    position: relative;
    border: 2px solid gray;
    border-radius: 0.4em;
    background-color: #fff;
    width: 1.4em;
    height: 1.4em;
    font-size: .8em;
    vertical-align: middle; }
    .scoring_example_24Afd .scoring_field_2erCj:before {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    .scoring_example_24Afd .scoring_field_2erCj:after {
      position: absolute;
      content: "";
      bottom: -.5em;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      height: 1px;
      width: 3em;
      background-color: gray; }
  .scoring_example_24Afd .scoring_text_3oN3u {
    display: inline-block;
    font-size: .8em;
    margin: .5em 0;
    line-height: 1.2; }

.scoring_point_1GA4d {
  display: inline-block;
  background-color: #fff;
  border: 2px solid gray;
  border-radius: 0.4em;
  margin: 0 .15em;
  width: 1.8em;
  text-align: center;
  font-weight: bold; }

.scoring_crosses_2T1F- {
  position: relative;
  margin-top: .3em; }
  .scoring_crosses_2T1F-:after {
    position: absolute;
    content: "";
    bottom: -.2em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background-color: gray; }

.scoring_scores_2sl48 {
  margin: .5em 0 .2em; }
.scores_scores_qqaVb {
  background-color: #a6a6a6;
  display: flex;
  padding: .5em 1em 1em;
  align-items: center;
  align-content: justify; }

.scores_text_Ec-hw {
  display: inline-block;
  width: 4em;
  font-size: .8em;
  margin: 0 .9em 0 0;
  font-weight: bold;
  text-align: left; }

.scores_box_1N5Wm {
  background: #fff;
  border-radius: .4em;
  border: 3px solid;
  width: 2.7em;
  height: 2.1em;
  text-align: center;
  display: inline-block;
  position: relative; }
  .scores_box_1N5Wm span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2em;
    line-height: 1;
    color: #3b00ff;
    font-family: 'Shadows Into Light', cursive; }

.scores_score_1B1Lj {
  display: flex;
  align-items: center; }

.scores_score_1B1Lj .scores_symbol_EMrim {
  display: inline-block;
  color: #737373;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0.45em; }

.scores_scores_qqaVb .scores_red_zHGAd {
  border-color: #C3010A; }

.scores_scores_qqaVb .scores_yellow_2MX4T {
  border-color: #F9DD1A; }

.scores_scores_qqaVb .scores_green_3XSjy {
  border-color: #039935; }

.scores_scores_qqaVb .scores_blue_37nbc {
  border-color: #01559B; }

.scores_scores_qqaVb .scores_gray_1f18a {
  border-color: #d9d9d9; }

.scores_totalScore_28Upg {
  display: inline-block;
  border-color: black;
  width: 8em; }
.controls_controls_1-RPR {
  display: flex;
  padding: 1em .5em;
  justify-content: center; }

.controls_button_1FSjc {
  border: 2px solid;
  border-radius: .4em;
  font-size: 1.2em;
  width: 33%;
  text-align: center;
  color: #fff;
  margin: 0 1em;
  padding: .2em;
  box-shadow: 0px 3px 20px #262626;
  cursor: pointer; }

.controls_undo_14vc_ {
  background-color: #01559B;
  border-color: #013968; }

.controls_redo_11yZ8 {
  background-color: #039935;
  border-color: #026724; }

.controls_clear_3rQex {
  background-color: #C3010A;
  border-color: #900107; }

.controls_button_1FSjc[disabled] {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  cursor: not-allowed; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes main_AnimationName_2z0Pw {
  0% {
    background-position: 90% 0%; }
  50% {
    background-position: 11% 100%; }
  100% {
    background-position: 90% 0%; } }

@keyframes main_AnimationName_2z0Pw {
  0% {
    background-position: 90% 0%; }
  50% {
    background-position: 11% 100%; }
  100% {
    background-position: 90% 0%; } }

.main_main_3Dzid {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: radial-gradient(#2bb3f3, #010e13);
  font-family: 'Ropa Sans', sans-serif; }

.main_container_GlO7A {
  display: inline-block;
  margin: auto; }

.main_qwixx_fMMo4 {
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  background-color: #d9d9d9;
  border-radius: .4em;
  box-shadow: 0px 3px 20px #262626;
  cursor: default; }
