.button {
  display: inline-block;
  background: rgba(255,255,255, .85);
  margin: 1px .5px;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: .3em;
  vertical-align: middle;
  font-size: 1.5em;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: bold;
  &:last-child {
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    right: -30px;
    &:before {
      background-color: #000;
      border-radius: 50%;
    }
  }
}

:global .red {
  color: red;
}
:global .yellow {
  color: #F9DD1A;
}
:global .green {
  color: #039935;
}
:global .blue {
  color: #01559B;
}