@import "variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255, .85);
  width: 1.5em;
  height: 1.5em;
  border-radius: .3em;
  margin: 1px .5px;
  font-size: 2.1em;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: bold;
  cursor: pointer;
  &:last-child {
    position: absolute;
    border-radius: 50%;
    right: -1.9em;
    border: 2px solid;
    i {
      transform: rotate(13deg);
      transition: .33s;
    } 
    &:after {
      display: inline-block;
      content: "";
      border-radius: 50%;
      width: .3em;
      height: .3em;
      position: absolute;
      left: -.43em;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.button.red {
  color: $red-dark;
  &:before {
    border-color: $red-dark;
  }
  &:after {
    background-color: $red-dark;
  }
}
.button.yellow {
  color: $yellow-dark;
  &:before {
    border-color: $yellow-dark;
  }
  &:after {
    background-color: $yellow-dark;
  }
}
.button.green {
  color: $green-dark;
  &:before {
    border-color: $green-dark;
  }
  &:after {
    background-color: $green-dark;
  }
}
.button.blue {
  color: $blue-dark;
  &:before {
    border-color: $blue-dark;
  }
  &:after {
    background-color: $blue-dark;
  }
}

@keyframes cross {
    from {width: 0;}
    to {width: 1.5em;}
}

.button {
  position: relative;
  
  &.disabled,
  &.selected {
    cursor: not-allowed;
        
  }
  &.disabled {
    background: rgba(255,255,255, .5);
  }
  &.selected {
    background: rgba(255,255,255, .6);
    &:not(:last-child):before,
    &:not(:last-child):after {
      content: "";
      display: inline-block;
      position: absolute;
      // width: 1.5em;
      height: 3px;
      border-radius: 50%;
      background-color: darkblue;
      animation: cross forwards;
      animation-duration: .1s;
    }
    &:not(:last-child):before {
      transform: rotate(45deg);
      left: 0;
      top: 50%;
    }
    &:not(:last-child):after {
      transform: rotate(-45deg);
      left: 0;
      top: 50%;
      animation-delay: .1s;
    }
    &:last-child i {
      transform: rotate(0deg);
    }
  }
}