@import "variables.scss";

.colorRow {
  margin: 2px 0;
  padding: 3px 4.5em 3px 12px;
  position: relative;
  &:before {
    $height: 10px;
    $width: 20px;
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: $height solid transparent;
    border-bottom: $height solid transparent; 
    border-left: $width solid #F1E6E4;
    z-index: 100;
  }
  &:after {
    $height: 8px;
    $width: 17px;
    position: absolute;
    display: block;
    content: "";
    top: calc(50% - 1px);
    transform: translateY(calc(-50% + 1px));    
    left: -10px;
    width: 0; 
    height: 0; 
    border-top: $height solid transparent;
    border-bottom: $height solid transparent; 
    border-left: $width solid #2b2b2b;
    z-index: 100;
  }
}
.red {
  background-color: $red;
}
.yellow {
  background-color: $yellow;
}
.green {
  background-color: $green;
}
.blue {
  background-color: $blue;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 1px;
  border-radius: 0.5em;
  .red & {
    background-color: $red-dark;
  }
  .yellow & {
    background-color: $yellow-dark;
  }
  .green & {
    background-color: $green-dark;
  }
  .blue & {
    background-color: $blue-dark;
  }
}