@import "variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255, .85);
  width: 1.5em;
  height: 1.5em;
  border-radius: .3em;
  margin: 1px .5px;
  font-size: 1.5em;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: bold;
  &:last-child {
    position: absolute;
    border-radius: 50%;
    background: rgba(255,255,255, 1);
    right: -35px;
    i {
      transform: rotate(10deg);
    } 
    &:after {
      display: inline-block;
      content: "";
      background-color: #000;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      position: absolute;
      left: -5px;
    }
    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      border: 2px solid #000;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
    }
  }
}

:global .red {
  color: $red;
}
:global .yellow {
  color: #F9DD1A;
}
:global .green {
  color: #039935;
}
:global .blue {
  color: #01559B;
}