@import "variables.scss";

.controls {
	display: flex;
	padding: 1em .5em;
	justify-content: center;
}

.button {
	border: 2px solid;
	border-radius: .4em;
	font-size: 1.2em;
	width: 33%;
	text-align: center;
	color: #fff;
	margin: 0 1em;
	padding: .2em;
	box-shadow: -3px 3px 10px lighten(#000, 20%);
}

.undo {
	background-color: $blue;
	border-color: $blue-dark;
}
.redo {
	background-color: $green;
	border-color: $green-dark;
}
.clear {
	background-color: $red;
	border-color: $red-dark;
}

.button[disabled] {
		background-color: $gray-dark;
		border-color: $gray-darker;
		color: $gray;
		cursor: not-allowed;
}
