@import "variables.scss";

@keyframes AnimationName { 
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
.main {
  $colorOuter: #010e13;
  $colorIner: #2bb3f3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: radial-gradient($colorIner, $colorOuter);
}
.container {
  display: inline-block;
  margin: auto;
}
.qwixx {
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  background-color: $gray;
  border-radius: .4em;
  box-shadow: $shadow;
  cursor: default;
}
