@import "variables.scss";

$borders: lighten(#000, 50%);

.misthrows {
	display: inline-block;
	text-align: center;
	margin-left: .5em;
}

.info {
	margin-bottom: 0.4em;
}

.fields {
	display: flex;
	flex-direction: row;
}

.misthrow {
	display: inline-block;
	background-color: #fff;
	border: 2px solid $borders;
	border-radius: 0.4em;
	width: 1.7em;
	height: 2em;
	margin: 0 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.x {
	position: absolute;
	color: $pen;
	font-size: 2em;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
}
