@import "variables.scss";

.scores {
  background-color: $gray-dark;
  display: flex;
  padding: .3em 10px 1em;
  text-align: center;
  align-items: center;
}
.text {
  display: inline-block;
  width: 4em;
  font-size: .8em;
  margin: 0 .9em 0 0;
  font-weight: bold;
}
.box {
  background: #fff;
  border-radius: .4em;
  border: 3px solid;
  width: 3.1em;
  height: 2.4em;
  text-align: center;
  display: inline-block;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 2em;
    line-height: 1;
    color: $pen;
    font-family: 'Shadows Into Light', cursive;
  }
}
.score {
  display: flex;
  align-items: center;
}
.score .symbol {
  display: inline-block;
  color: $gray-darker;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0.6em;

}

.scores .red {
  border-color: $red;
}
.scores .yellow {
  border-color: $yellow;
}
.scores .green {
  border-color: $green;
}
.scores .blue {
  border-color: $blue;
}
.scores .gray {
  border-color: $gray;
}

.totalScore {
  display: inline-block;
  border-color: black;
  width: 8em;
}