$borders: lighten(#000, 50%);

.scoring {
	margin: .1em 1em .4em;
	display: flex;
	align-content: justify;
}
.example {
	font-weight: bold;
	margin-right: .5em;
	text-align: center;
	vertical-align: middle;
	.field {
		display: inline-block;
		position: relative;
		border: 2px solid $borders;
		border-radius: 0.4em;
		background-color: #fff;
		width: 1.4em;
		height: 1.4em;
		font-size: .8em;
		vertical-align: middle;
		&:before {
			content: "";
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
		&:after {
			position: absolute;
			content: "";
			bottom: -.5em;
			left: 50%;
			transform: translateX(-50%);
			height: 1px;
			width: 3em;
			background-color: $borders;
		}
	}
	.text {
		display: inline-block;
		font-size: .8em;
		margin: .5em 0;
		line-height: 1.2;
	}
}
.point {
	display: inline-block;
	background-color: #fff;
	border: 2px solid $borders;
	border-radius: 0.4em;
	margin: 0 .15em;
	width: 1.8em;
	text-align: center;
	font-weight: bold;
}

.crosses {
	position: relative;
	margin-top: .3em;
	&:after {
		position: absolute;
		content: "";
		bottom: -.2em;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
		height: 1px;
		background-color: $borders;
	}
}
.scores {
	margin: .5em 0 .2em;
}
