$red: #C3010A;
// $red-dark: ;
// $red-light: ;

$yellow: #F9DD1A;
// $yellow-dark: ;
// $yellow-light: ;

$green: #039935;
// $green-dark: ;
// $green-light: ;

$blue: #01559B;
// $blue-dark: ;
// $blue-light: ;
